.post-container {
    width: 60%;
    margin: 0 auto;
    margin-top: 9vh;
}

.top-exp-item-container {
    text-align: center;
}

.title {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}

.title button {
    outline: none;
    border: none;
    padding: 12px 24px;
    background-color: orangered;
    font-weight: 500;
    color: #fff;
}

.top-exp-item {
    margin: 20px 0;
    padding-top: 40px;
    padding-left: 200px;
    padding-right: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
}

.top-exp-item div {}

.top-exp-item img {
    width: 400px;
    height: 400px;
}

.top-exp-item h4 a {
    color: #333;
    text-decoration: none;
}

.top-exp-item:hover {
    scale: 1.01;
}

.top-exp-item:hover a {
    text-decoration: underline;
}

.rating-container {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.stars-container {
    padding-right: 30px;
}

.view {
    font-weight: 400;

}

.stars-container i {
    color: greenyellow;
}