@{
    ViewBag.Title = "destination_jamaica";
}
<!--BANNER-->
<div class="bannercontainer__destinationdetail">
    <img src="~/image/destination/des_jamaica.png" class="topbanner__destinationdetail"/>
    <h1 class="title__destinationdetail">London</h1>
    <p class="title__destination--subdetail">
        <a href="index.html" class="link__destinationhome--green">Home</a>//Destination
    </p>
</div>
<!--END BANNER-->
<!--START CONTENT-->
<div class="content">
    <!--START MAIN DEST-->
    <div class="middle__destinationdetail">
        <div class=destination__itemdetail>

            <!--START INTRO WELCOME-->
            <h1 class="title__contentdest">Welcome to London!</h1>
            <p class="item__contentdest">
                Bacon ipsum dolor amet porchetta hamburger swine, ball tip bresaola short ribs fatback strip
                steak ground round rump. Alcatra shankle ham hock frankfurter, bacon pork loin cow salami
                meatball hamburger venison tail bresaola. Tri-tip bresaola bacon strip steak kevin meatball
                shankle ball tip tenderloin sausage beef ribs spare ribs tongue filet mignon. Chuck strip steak
                chicken meatloaf. Drumstick ham hamburger, shankle alcatra shoulder tenderloin ground round.
                Cupim bacon beef ribs ball tip tongue pork rump.
            </p>
            <!--END INTRO WELCOME-->
            <!--START SIGHT-->
            <i class="fas fa-camera" style="font-size: 20px; margin-left: 20px;padding: 10px;color: gray;"></i>
            <span style="color: gray; font-weight: 100;">SIGHTS</span>

            <hr class="linecontent__dest">

            <img src="~/image/destination/des_curacao_01.jpeg" class="image__sight" />
            <img src="~/image/destination/des_curacao_02.png" class="image__sight" />
            <img src="~/image/destination/des_curacao.jpg" class="image__sight" />

            <!--END SIGHT-->
            <!--START MAP-->
            <i class="fas fa-map" style="font-size: 20px; margin-left: 20px;padding: 10px;color: gray;"></i>
            <span style="color: gray; font-weight: 100;">MAP</span>
            <hr class="linecontent__dest">
            <iframe class="map__embedded--resize"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1941638.503921185!2d-79.57896204911975!3d18.105655811259783!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8eda2a1bc6cf719d%3A0x59a0d1c0b5120efa!2sJamaica!5e0!3m2!1sen!2s!4v1669089538243!5m2!1sen!2s"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            <!--END MAP-->
            <!--START INFO-->
            <i class="fas fa-info-circle"
               style="font-size: 20px; margin-left: 20px;padding: 10px;color: gray;"></i> <span style="color: gray; font-weight: 100;">INFO</span>
            <hr class="linecontent__dest">
            <p class="item__contentdest">
                Sed aliquam nunc eget velit imperdiet, in rutrum mauris malesuada. Quisque ullamcorper vulputate
                nisi, et fringilla ante convallis quis. Nullam vel tellus non elit suscipit volutpat. Integer id
                felis et nibh rutrum dignissim ut non risus. In tincidunt urna quis sem luctus, sed accumsan
                magna pellentesque. Donec et iaculis tellus. Vestibulum ut iaculis justo, auctor sodales lectus.
                Donec et tellus tempus, dignissim maurornare, consequat lacus. Integer dui neque, scelerisque
                nec sollicitudin sit amet, sodales a erat. Duis vitae condimentum ligula. Integer eu mi nisl.
                Donec massa dui, commodo id arcu quis, venenatis scelerisque velit.
            </p>
            <!--END INFO-->
            <!--TITLE RECOMMEND-->

            <div class="table__experiencecontainer">
                <div class="contain__recommendtour">
                    <p class="pricebannerdetail--leftgreen">180$</p>
                    <p class="title__imagercmndtours">
                        <i class="fas fa-camera" class="icon__experiencecustom--leftbottom"></i>
                        <br>Snorkeling
                    </p>
                    <img src="~/image/destination/des__snorkeling.png" class="image__reccomendtours" />
                    <p style="margin-top: 10px;">&#11088 &#11088 &#11088 &#11088 &#11088</p>
                </div>

                <div class="contain__recommendtour">
                    <p class="pricebannerdetail--leftgreen">1200$</p>
                    <p class="title__imagercmndtours">

                        <i class="far fa-compass" class="icon__experiencecustom--leftbottom"></i>
                        <br>Beautiful scenery
                    </p>
                    <img src="~/image/destination/des__beautifulscenery.jpg" class="image__reccomendtours" />
                    <p style="margin-top: 10px;">&#11088 &#11088 &#11088 &#11088 &#11088</p>
                </div>

                <div class="contain__recommendtour">
                    <p class="pricebannerdetail--leftgreen">2500$</p>
                    <p class="title__imagercmndtours">
                        <i class="fas fa-map-marker-alt" class="icon__experiencecustom--leftbottom"></i>
                        <br>Out door adventure
                    </p>
                    <img src="~/image/destination/des__outdooractivities.jpg" class="image__reccomendtours" />
                    <p style="margin-top: 10px;">&#11088 &#11088 &#11088 &#11088</p>
                </div>
            </div>
            <!--END  RECOMMEND-->

            <hr style="margin-top: 150px; ">

            <!--DIRECT SWITCH PAGES-->
            <div>
                <div class="left__direction">
                    <h3 style="font-size: 19px;">Previous</h3>
                    <h1 style="font-size: 40px;font-weight: 350;">
                        <a href="destination_nhatrang.html" class="link__destination--blacknoline">Nha Trang</a>
                    </h1>
                </div>

                <div class="right__direction">
                    <h3 style="font-size: 19px;">Next</h3>
                    <h1 style="font-size: 40px;font-weight: 350;">
                        <a href="destination _jamaica.html" class="link__destination--blacknoline">Jamaica</a>
                    </h1>
                </div>
            </div>
            <!--END DIRECT SWITCH PAGES-->

        </div>
        <!--END MAIN DEST-->
        <!--START SHARING DESTINATION-->
        <div style="margin-left: 150px; margin-top: 100px;">
            <h4 style="font-weight: 400;">SHARE THIS DESTINATION</h4>
            <div style=" width:300px;display: flex;justify-content:space-between;">
                <a href="" class="link__destination--bluenoline">FACEBOOK</a>
                <a href="" class="link__destination--bluenoline">TWITTER</a>
                <a href="" class="link__destination--bluenoline">PINTEREST</a>
            </div>
        </div>
        <!--END SHARING DESTINATION-->
        <!--START USER REVIEW-->
        <div style="margin-top: 100px; padding:10px">
            <h4 style="margin-left: 150px; font-weight: 400;">LEAVE A REVIEW</h4>
            <h5 style="margin-left: 150px;margin-top: 35px;font-weight: 300; font-size: 15px; color:gray">
                Your
                email address will not be published.
            </h5>

            <form>
                <table class="tablereviewform">
                    <tr>
                        <td>NAME:</td>
                        <td>EMAIL:</td>
                    </tr>
                    <tr>
                        <td>
                            <input class="textinput__comment" type="text" id="name" placeholder="Your name *"
                                   size="70" maxlength="100">
                        </td>
                        <td>
                            <input class="textinput__comment" type="text" id="email" placeholder="Your email *"
                                   size="70" maxlength="100">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">YOUR REVIEW:</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <textarea class="textinput__comment" rows="10" cols="153"
                                      placeholder="Message"></textarea>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <p class="button__addreview">ADD REVIEW</p>
                        </td>
                    </tr>
                    <div class="button__backtotop">
                        <a href='#' title="Back to top">
                            <i class="fas fa-chevron-circle-up" style="color:green"></i>
                        </a>
                    </div>
                </table>
            </form>
        </div>
    </div>
</div>
    </div>
    </div>
<!--END CONTENT-->