@{
    ViewBag.Title = "destination";
}
<div class="bannercontainer__destination">
    <img src="~/image/destination/des_banner.jpg" class="topbanner__destination"/ />
    <h1 class="title__destination">Tour Category: Destination</h1>
    <p class="title__destination--sub">
        <a href="index.html" class="link__destinationhome--green">Home</a>//Destination
    </p>
</div>

<div id="middle__destination">
    <div id="leftpane__destination">

        <div class=destination__item>
            <img src="~/image/destination/des_Guadelope.png" class="image__destinationitemcustom" />

            <table class="tablecontent__destination">
                <tr>
                    <td>
                        <h4 class="header__destination--lighter">
                            <a href="destination_guadeloupe.html"
                               class="link__destination--blacknoline">Guadelope</a>
                        </h4>
                    </td>
                </tr>
                <tr>
                    <td>
                        Alcatra shankle ham hock frankfurter, bacon pork loin cow salami meatball hamburger
                        venison tail bresaola. Tri-tip bresaola bacon strip steak kevin meatball shankle ball
                        tip tenderloin sausage beef ribs spare ribs tongue filet mignon. Chuck strip steak
                        chicken meatloaf.
                    </td>
                </tr>
            </table>

        </div>

        <div class=destination__item>
        <img src="~/image/destination/des_jamaica.png" class="image__destinationitemcustom" />

            <table class="tablecontent__destination">
                <tr>
                    <td>
                        <h4 class="header__destination--lighter">
                            <a href="destination _jamaica.html"
                               class="link__destination--blacknoline">Jamaica</a>
                        </h4>
                    </td>
                </tr>
                <tr>
                    <td>
                        Alcatra shankle ham hock frankfurter, bacon pork loin cow salami meatball hamburger
                        venison tail bresaola. Tri-tip bresaola bacon strip steak kevin meatball shankle ball
                        tip tenderloin sausage beef ribs spare ribs tongue filet mignon. Chuck strip steak
                        chicken meatloaf.
                    </td>
                </tr>
            </table>

        </div>

        <div class=destination__item>
            <img src="~/image/destination/des_nhatrang.jpg" class="image__destinationitemcustom" />

            <table class="tablecontent__destination">
                <tr>
                    <td>
                        <h4 class="header__destination--lighter">
                            <a href="destination_nhatrang.html" class="link__destination--blacknoline">
                                Nha
                                Trang
                            </a>
                        </h4>
                    </td>
                </tr>
                <tr>
                    <td>
                        Alcatra shankle ham hock frankfurter, bacon pork loin cow salami meatball hamburger
                        venison tail bresaola. Tri-tip bresaola bacon strip steak kevin meatball shankle ball
                        tip tenderloin sausage beef ribs spare ribs tongue filet mignon. Chuck strip steak
                        chicken meatloaf.
                    </td>
                </tr>
            </table>

        </div>

        <div class=destination__item>
            <img src="~/image/destination/des_london.png" class="image__destinationitemcustom" />

            <table class="tablecontent__destination">
                <tr>
                    <td>
                        <h4 class="header__destination--lighter">
                            <a href="destination_london.html" class="link__destination--blacknoline">London</a>
                        </h4>
                    </td>
                </tr>
                <tr>
                    <td>
                        Alcatra shankle ham hock frankfurter, bacon pork loin cow salami meatball hamburger
                        venison tail bresaola. Tri-tip bresaola bacon strip steak kevin meatball shankle ball
                        tip tenderloin sausage beef ribs spare ribs tongue filet mignon. Chuck strip steak
                        chicken meatloaf.
                    </td>
                </tr>
            </table>

        </div>

        <div class=destination__item>
            <img src="~/image/destination/des_losangeles.png" class="image__destinationitemcustom" />
            

            <table class="tablecontent__destination">
                <tr>
                    <td>
                        <h4 class="header__destination--lighter">
                            <a href="destination_losangeles.html" class="link__destination--blacknoline">
                                Los
                                Angeles
                            </a>
                        </h4>
                    </td>
                </tr>
                <tr>
                    <td>
                        Alcatra shankle ham hock frankfurter, bacon pork loin cow salami meatball hamburger
                        venison tail bresaola. Tri-tip bresaola bacon strip steak kevin meatball shankle ball
                        tip tenderloin sausage beef ribs spare ribs tongue filet mignon. Chuck strip steak
                        chicken meatloaf.
                    </td>
                </tr>
            </table>

        </div>

        <div class=destination__item>
            <img src="~/image/destination/des_banahill.jpg" class="image__destinationitemcustom" />


            <table class="tablecontent__destination">
                <tr>
                    <td>
                        <h4 class="header__destination--lighter">
                            <a href="destination_banahill.html" class="link__destination--blacknoline">
                                Ba Na
                                Hill
                            </a>
                        </h4>
                    </td>
                </tr>
                <tr>
                    <td>
                        Alcatra shankle ham hock frankfurter, bacon pork loin cow salami meatball hamburger
                        venison tail bresaola. Tri-tip bresaola bacon strip steak kevin meatball shankle ball
                        tip tenderloin sausage beef ribs spare ribs tongue filet mignon. Chuck strip steak
                        chicken meatloaf.
                    </td>
                </tr>
            </table>

        </div>

    </div>

    <div id="rightpane__destination">
        <div class="search__destination">
            <h2 class="header__destination--lightersmaller">SEARCH</h2>
            <input type="text" placeholder="Search destination... " class="searchbar__destination"
                   maxlength="100" size="35">
        </div>
    </div>
</div>

<div class="clear">

</div>
