@{
    ViewData["Title"] = "About Us";
}
<div class="content" id="content">
    <div class="introduction" id="intro">
        <div class="introduction__content">
            <div class="introduction__content--text">
                <h2>Heya, we're GONJOY</h2>

                <p>
                    We’re the leading platform for search-powered solutions, and we help everyone — organizations,
                    their employees, and their customers — find what they need faster, while keeping applications
                    running smoothly, and protecting against cyber threats.

                    When you tap into the power of Elastic Enterprise Search, Observability, and Security solutions,
                    you’re in good company with brands like Netflix, Uber, Slack, Microsoft, and thousands of others
                    who rely on us to accelerate results that matter.
                </p>
            </div>
        </div>

        <div class="introduction__img">
            <img src="~/image/Aboutus/about_philipp.jpg" alt="" />
        </div>
    </div>

    <!-- BEGIN: section TimeLine -->
    <section id="timeline">
        <div class="tl-item">
            <div class="tl-bg" style="background-image: url(https://placeimg.com/801/801/nature)"></div>
            <div class="tl-year">
                <p class="f2 heading--sanSerif">2011</p>
            </div>
            <div class="tl-content">
                <h1>Lorem ipsum dolor sit</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                    voluptate velit.
                </p>
            </div>
        </div>

        <div class="tl-item">
            <div class="tl-bg" style="background-image: url(https://placeimg.com/802/802/nature)"></div>
            <div class="tl-year">
                <p class="f2 heading--sanSerif">2013</p>
            </div>
            <div class="tl-content">
                <h1 class="f3 text--accent ttu">Vestibulum laoreet lorem</h1>
                <p>
                    Suspendisse potenti. Sed sollicitudin eros lorem, eget accumsan risus dictum id. Maecenas
                    dignissim ipsum vel mi rutrum egestas. Donec mauris nibh, facilisis ut hendrerit vel, fringilla
                    sed felis. Morbi sed nisl et arcu.
                </p>
            </div>

        </div>

        <div class="tl-item">
            <div class="tl-bg" style="background-image: url(https://placeimg.com/803/803/nature)"></div>
            <div class="tl-year">
                <p class="f2 heading--sanSerif">2014</p>
            </div>
            <div class="tl-content">
                <h1 class="f3 text--accent ttu">Phasellus mauris elit</h1>
                <p>
                    Mauris cursus magna at libero lobortis tempor. Suspendisse potenti. Aliquam interdum vulputate
                    neque sit amet varius. Maecenas ac pulvinar nisi. Fusce vitae nunc ultrices, tristique dolor at,
                    porttitor dolor. Etiam id cursus arcu, in dapibus nibh. Pellentesque non porta leo. Nulla eros
                    odio, egestas quis efficitur vel, pretium sed.
                </p>
            </div>
        </div>

        <div class="tl-item">
            <div class="tl-bg" style="background-image: url(https://placeimg.com/800/800/nature)"></div>
            <div class="tl-year">
                <p class="f2 heading--sanSerif">2016</p>
            </div>
            <div class="tl-content">
                <h1 class="f3 text--accent ttu">Mauris vitae nunc elem</h1>
                <p>
                    Suspendisse ac mi at dolor sodales faucibus. Nunc sagittis ornare purus non euismod. Donec
                    vestibulum efficitur tortor, eget efficitur enim facilisis consequat. Vivamus laoreet laoreet
                    elit. Ut ut varius metus, bibendum imperdiet ex. Curabitur diam quam, blandit at risus nec,
                    pulvinar porttitor lorem. Pellentesque dolor elit.
                </p>
            </div>
        </div>
    </section>
    <!-- END: section TimeLine -->
    <!-- BEGIN: section OurTeam -->
    <section id="ourteam">
        <div class="ot-title title">
            <h2>Meet the team leading GONJOY.</h2>
            <p class="sub-title">
                With a company and culture founded in open source, the leadership team is focused on making sure
                they are open with each other and the company. They work to gain understanding and deliver context
                across all aspects of the business to make the best possible decisions.
            </p>
        </div>

        <div class="ot-container">
            <div class="ot-item">
                <img src="~/image/Aboutus/person1.jpg" alt=""/>
                <p class="ot__member">Nhat</p>
                <p class="ot__position">Chief Sales Officer</p>
            </div>

            <div class="ot-item">
                <img src="~/image/Aboutus/person3.jpg" alt=""/>
                <p class="ot__member">Phat</p>
                <p class="ot__position">Founder and CEO</p>
            </div>

            <div class="ot-item">
                <img src="~/image/Aboutus/person2.jpg" alt=""/>
                <p class="ot__member">Hoa</p>
                <p class="ot__position">Chief Product Officer</p>
            </div>
        </div>
    </section>
    <!-- END: section OurTeam -->
    <!-- BEGIN: Section PARTNER -->
    <section id="partner">
        <div class="partner-container">
            <div class="partner__title title">
                <h2>Who are our partners?</h2>
                <p class="sub-title">
                    With a company and culture founded in open source, the leadership team is focused on making sure
                    they are open with each other and the company.
                </p>
            </div>
        </div>
    </section>
    <!-- END: Section PARTNER -->
</div>