@{
    ViewData["Title"] = "Review";

}
<!-- BEGIN: CONTENT -->
<div class="content">
    <div class="post-container">
        <div class="top-exp-lst">
            <div class="title">
                <h3>
                    Top experience on GONJOY
                </h3>

                <button onclick="GoToCreatePost()">Share Your Experience</button>
            </div>

            <div class="top-exp-item-container">
                <div class="top-exp-item">
                    <img src="~/image/review/amsterdam.jpg" />

                    <div>
                        <h4 class="top-exp-item__title">
                            <a href="">
                                Flagship Amsterdam Open Boat Canal Cruise - Local live guide with bar on board
                            </a>
                        </h4>

                        <div class="rating-container">
                            <div class="stars-container">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>

                            </div>

                            <div class="view">
                                15,238
                                <i class="fa-regular fa-eye"></i>
                            </div>
                        </div>
                    </div>

                    <p class="top-exp-item__description">
                        from $21 per adult
                    </p>
                </div>

                <div class="top-exp-item">
                    <img src="~/image/review/dubai.jpg" />

                    <div>
                        <h4 class="top-exp-item__title">
                            <a href="">
                                Dubai: Red Dunes ATV, Sandsurf, Camels, Stargazing & 5* BBQ at Al Khayma Camp™️
                            </a>
                        </h4>

                        <div class="rating-container">
                            <div class="stars-container">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>

                            </div>

                            <div class="view">
                                6,205
                                <i class="fa-regular fa-eye"></i>
                            </div>
                        </div>

                        <p class="top-exp-item__description">
                            from $95 per adult
                        </p>
                    </div>
                </div>

                <div class="top-exp-item">
                    <img src="~/image/review/north_shore.jpg" />

                    <div>
                        <h4 class="top-exp-item__title">
                            <a href="">
                                Tour of North Shore (70%) and Sightseeing (30%)
                            </a>
                        </h4>

                        <div class="rating-container">
                            <div class="stars-container">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>

                            </div>

                            <div class="view">
                                3,383
                                <i class="fa-regular fa-eye"></i>
                            </div>
                        </div>

                        <p class="top-exp-item__description">
                            from $139 per adult
                        </p>
                    </div>
                </div>

                <div class="top-exp-item">
                    <img src="~/image/review/indian_cave.jpg" />

                    <div>
                        <h4 class="top-exp-item__title">
                            <a href="">
                                Aruba Natural Pool and Indian Cave Jeep Safari
                            </a>
                        </h4>

                        <div class="rating-container">
                            <div class="stars-container">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>

                            </div>

                            <div class="view">
                                3,412
                                <i class="fa-regular fa-eye"></i>
                            </div>
                        </div>

                        <p class="top-exp-item__description">
                            from $105 per adult
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>