@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <link href="~/css/signup/signup.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>signup</title>
</head>
<body>
    <div class="app">
        <div class="content">
            <div>
                <p style="padding: 10px;color:white">
                    <a href="index.html" class="link__destinationhome--green">Home</a>
                </p>
            </div>
            <div class="sign-up-container">
                <h2 class="title"><a href="index.html">Welcome to GONJOY</a></h2>
                <!-- <p class="sub-title">Already have account? <a href="sigin.html">Log In!</a></p> -->

                <div class="sign-up-container">
                    <form action="" class="form-container">
                        <div class="input-field row full-name">
                            <div class="full-name__item col">
                                <label for="first-name" class="col-4">First Name</label>
                                <input type="text" name="" id="first-name" class="col-6">
                            </div>

                            <div class="full-name__item col">
                                <label for="last-name" class="col-4">Last Name</label>
                                <input type="text" name="" id="last-name" class="col-6">
                            </div>
                        </div>

                        <div class="input-field row gender">
                            <p class="col-2" style="color:#fff">Gender: </p>
                            <div class="form-check col-2">
                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                       id="flexRadioDefault1">
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Male
                                </label>
                            </div>
                            <div class="form-check col-2">
                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                       id="flexRadioDefault2" checked>
                                <label class="form-check-label" for="flexRadioDefault2">
                                    Female
                                </label>
                            </div>
                        </div>

                        <div class="input-field row dob">
                            <div class="dob-item col-4">
                                <label for="day">Day</label>
                                <input type="number" name="" id="day">
                            </div>

                            <div class="dob-item col-4">
                                <label for="month">Month</label>
                                <input type="number" name="" id="month">
                            </div>

                            <div class="dob-item col-4">
                                <label for="year">Year</label>
                                <input type="number" name="" id="year">
                            </div>
                        </div>

                        <div class="input-field row">
                            <label for="address col" class="col-4">Address</label>
                            <input type="text" name="" id="address" class="col-7">
                        </div>

                        <div class="input-field row ">
                            <label for="postal-code" class="col-4">Postal Code</label>
                            <input type="number" name="" id="postal-code" class="col-7">
                        </div>

                        <div class="input-field row">
                            <label for="username" class="col-4">Username</label>
                            <input type="text" name="" id="username" class="col-7">
                        </div>

                        <div class="input-field row">
                            <label for="password" class="col-4">Password</label>
                            <input type="password" name="" id="password" class="col-7">
                        </div>

                        <div class="input-field row">
                            <label for="re-password" class="col-4">Confirm Password</label>
                            <input type="password" name="" id="re-password" class="col-7">
                        </div>

                        <div class="input-field row">
                            <label for="intro-code" class="col-4">Introduce Code</label>
                            <input type="text" name="" id="intro-code" class="col-7">
                        </div>

                        <div class="btn">
                            <input type="submit" value="SIGN UP">
                        </div>

                        <p class="sub-title">Already have account? <a href="sigin.html">Log In!</a></p>

                    </form>
                </div>
            </div>
        </div>
</body>

</html>